In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from itertools import repeat

In [0]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [0]:
soup = BeautifulSoup(website_url,'lxml')

In [0]:
my_table = soup.find("table", { "class" : "wikitable sortable"})

In [0]:
def convert_to_list(bs4row):
    list_bs4row = bs4row.findAll(["td","th"])
    return [bs4.get_text().strip() for bs4 in list_bs4row]

In [6]:
rows=my_table.findAll("tr")

header = convert_to_list(rows[0])
header

['Postcode', 'Borough', 'Neighbourhood']

In [0]:
my_data = [convert_to_list(r) for r in rows[1:]]

In [8]:
df = pd.DataFrame(my_data,columns=header)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [9]:
df = df[~df['Borough'].isin(['Not assigned'])]
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [10]:
df['Neighbourhood'] = df.apply(lambda row: row['Borough'] if row['Neighbourhood']=='Not assigned' else row['Neighbourhood'], axis=1)
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [11]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [12]:
df.shape

(103, 3)

In [14]:
fn_coor = "https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv"
df_coor = pd.read_csv(fn_coor)
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
df_coor.columns = ['Postcode','Latitude','Longitude']
df_merge = pd.merge(df, df_coor,how='left', on='Postcode')
df_merge

    Postcode           Borough  ...   Latitude  Longitude
0        M1B       Scarborough  ...  43.806686 -79.194353
1        M1C       Scarborough  ...  43.784535 -79.160497
2        M1E       Scarborough  ...  43.763573 -79.188711
3        M1G       Scarborough  ...  43.770992 -79.216917
4        M1H       Scarborough  ...  43.773136 -79.239476
5        M1J       Scarborough  ...  43.744734 -79.239476
6        M1K       Scarborough  ...  43.727929 -79.262029
7        M1L       Scarborough  ...  43.711112 -79.284577
8        M1M       Scarborough  ...  43.716316 -79.239476
9        M1N       Scarborough  ...  43.692657 -79.264848
10       M1P       Scarborough  ...  43.757410 -79.273304
11       M1R       Scarborough  ...  43.750072 -79.295849
12       M1S       Scarborough  ...  43.794200 -79.262029
13       M1T       Scarborough  ...  43.781638 -79.304302
14       M1V       Scarborough  ...  43.815252 -79.284577
15       M1W       Scarborough  ...  43.799525 -79.318389
16       M1X       Scarborough  ...  43.836125 -79.205636
17       M2H        North York  ...  43.803762 -79.363452
18       M2J        North York  ...  43.778517 -79.346556
19       M2K        North York  ...  43.786947 -79.385975
20       M2L        North York  ...  43.757490 -79.374714
21       M2M        North York  ...  43.789053 -79.408493
22       M2N        North York  ...  43.770120 -79.408493
23       M2P        North York  ...  43.752758 -79.400049
24       M2R        North York  ...  43.782736 -79.442259
25       M3A        North York  ...  43.753259 -79.329656
26       M3B        North York  ...  43.745906 -79.352188
27       M3C        North York  ...  43.725900 -79.340923
28       M3H        North York  ...  43.754328 -79.442259
29       M3J        North York  ...  43.767980 -79.487262
..       ...               ...  ...        ...        ...
73       M6C              York  ...  43.693781 -79.428191
74       M6E              York  ...  43.689026 -79.453512
75       M6G  Downtown Toronto  ...  43.669542 -79.422564
76       M6H      West Toronto  ...  43.669005 -79.442259
77       M6J      West Toronto  ...  43.647927 -79.419750
78       M6K      West Toronto  ...  43.636847 -79.428191
79       M6L        North York  ...  43.713756 -79.490074
80       M6M              York  ...  43.691116 -79.476013
81       M6N              York  ...  43.673185 -79.487262
82       M6P      West Toronto  ...  43.661608 -79.464763
83       M6R      West Toronto  ...  43.648960 -79.456325
84       M6S      West Toronto  ...  43.651571 -79.484450
85       M7A      Queen's Park  ...  43.662301 -79.389494
86       M7R       Mississauga  ...  43.636966 -79.615819
87       M7Y      East Toronto  ...  43.662744 -79.321558
88       M8V         Etobicoke  ...  43.605647 -79.501321
89       M8W         Etobicoke  ...  43.602414 -79.543484
90       M8X         Etobicoke  ...  43.653654 -79.506944
91       M8Y         Etobicoke  ...  43.636258 -79.498509
92       M8Z         Etobicoke  ...  43.628841 -79.520999
93       M9A         Etobicoke  ...  43.667856 -79.532242
94       M9B         Etobicoke  ...  43.650943 -79.554724
95       M9C         Etobicoke  ...  43.643515 -79.577201
96       M9L        North York  ...  43.756303 -79.565963
97       M9M        North York  ...  43.724766 -79.532242
98       M9N              York  ...  43.706876 -79.518188
99       M9P         Etobicoke  ...  43.696319 -79.532242
100      M9R         Etobicoke  ...  43.688905 -79.554724
101      M9V         Etobicoke  ...  43.739416 -79.588437
102      M9W         Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]